<div class="container" id="registration">
  <div class="logo" id="logo">
    <img src="http://blog.weddly.co/wp-content/uploads/2016/08/logo-3-1.png">
  </div>
  <p> Za chwilię zaczniesz planować wesele </p>
  <form>
    <div class="form-group">
        <input type="text" class="form-control" id="your-name" placeholder="Twoje imię">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="partners-name" placeholder="Imię partnera">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="date" placeholder="Data wesela">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-warning">Zacznij planować wesele</button>
    </div>
  </form>
</div>
