// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.home {
    background-image: url("https://images.unsplash.com/photo-1470320691330-ae8e9288fb77?w=2880");
    background-size: 100%;
    background-repeat: no-repeat;
}

.registration {
  background-color: rgba(0, 188, 212, 0.74);
  text-align: center;
  width: 680px;
  margin-top: 100px;
  border-radius: 15px;
}

p {
  color: white
}

.btn {
  background-color: #ffc107;
}

input[type=text] {
    background-color: (255, 15, NaN, 0.6);
}

.logo {
  margin: 10px 150px 60px;
}

.signup {
  margin: 10px;
}

/* Checklist view */
.header2 {
  background-color: #00bcd4;
  padding-bottom: 5px;
  width: 1300px;
}

.logo2 {
  width: 170px;
  height: 60px;
  margin: auto;
}

.container {
  width: 1300px;

}

.header {
  background-color: #00bcd4;
  padding-bottom: 5px;
  width: 1300px;
}

.logo {
  width: 170px;
  height: 60px;
  margin: auto;
}

.menu {
  background-color: #eceff1;
  padding-bottom: 650px;
  height: 700px;
}

.leftMenu {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 60px;
  text-align: center;
  padding: 10px;
}

.checklist {
  background-color: rgba(135, 189, 215, 0.47);
  padding-bottom: 300px;
  height: 700px;
}

.month {
  text-align: center;
}

.date {
  text-align: center;
  margin-bottom: 100px;
}

.ring {
  margin-top: 10px;
  width: 35px;
  height: 35px;
}

.item {
  margin-top: 10px;
  background-color: #00bcd4;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  color: white;
}

.menu3 {
  background-color: #eceff1;
  padding-bottom: 650px;
  height: 700px;
}

.item-details {
  background-color: #fff;
  padding-top: 10px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
}

.btn {
  background-color: #ffc107;
  margin-top: 20px;
}
